.search-container {
    width: 400px;
    height: 80px;
    background: var(--cont-clr);
    backdrop-filter: blur(var(--cont-blur));
    z-index: 2;
    border-radius: 1000px;
    position: absolute;
    top: -100px;
    transition: 0.3s;
    border: var(--border);

}

.search-container.active {
    top: 10px;
}

.search-input {
    width: 75%;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-clr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    padding-right: 30px;
    color: var(--text-clr);
    font-size: 18px;
}

.search-input::placeholder {
    color: var(--text-clr);
}

.search-icon {
    width: 20px;
    height: 20px;
    fill: var(--text-clr);
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.search-toggler {
    width: calc(50px + 5px);
    height: calc(50px + 5px);
    background: var(--cont-clr);
    border-radius: 50% 25%;
    position: absolute;
    top: 0;
    left: 48.6%;
    transform: rotate(45deg) translate(-50%, -25%);
    z-index: 3;
    backdrop-filter: blur(var(--cont-blur));
    transition: .2s;
    cursor: pointer;
    border: var(--border);

}

.search-toggler.hover {
    border-radius: 50%;
    top: 100px;
}

.down_arrow {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    position: absolute;
    top: 23px;
    left: 23px;
    transition: 0.3s;
}

.search-toggler.hover .down_arrow {
    top: 20px;
    left: 20px;
    transform: rotate(135deg);
}